+font('opensans-regular', 'opensans-regular-webfont')
+font('opensans-bold', 'opensans-bold-webfont')
+font('opensans-semibold', 'opensans-semibold-webfont')

=reg
  font-family: 'opensans-regular', Arial, sans-serif
=bold
  font-family: 'opensans-bold', Arial, sans-serif
=semi
  font-family: 'opensans-semibold', Arial, sans-serif

body
  background: #FFF
  line-height: 1.4
  font-size: var(--fz)
  +reg
  color: $c-text
  +no-scroll
  

.out
  overflow: hidden

img
  max-width: 100%

.icon
  display: inline-block

.btn
  display: inline-block
  text-align: center
  min-width: 253px
  padding: 14px
  border: 1px solid $accent
  background-color: transparent
  color: $accent
  +reg
  font-size: var(--fz)
  +tr(color .3s, background-color .3s)
  +hover
    background-color: $accent
    color: $white
    +bold
  .icon
    fill: currentColor
    font-size: calc(var(--fz) + 2px)
    top: .2em
    margin-right: 5px
    position: relative
  +md
    padding: 10px
  +sm
    padding: 8px
    min-width: 200px

  &--md
    min-width: 220px
  &--accent
    background-color: $accent
    color: $white
    +bold
    +hover
      background-color: transparent
      +reg
      color: $accent

.btn-link
  color: #595959
  font-size: 13px
  +reg
  text-decoration: underline
  +inline-flex(flex-start, center)
  +tr(color .3s)
  +hover
    color: $accent
  .icon
    fill: currentColor
    font-size: var(--fz)
    margin-right: 5px
    +tr(fill .3s)

.download
  color: $white
  font-size: var(--fz)
  +reg
  +inline-flex(flex-start, center)
  text-decoration: underline
  +tr(color .3s)
  .icon
    margin-right: 14px

.text-block
  &__title
    margin-bottom: 15px
    +md
      margin-bottom: 10px
  &__text
      margin-bottom: 15px
  &__btns
    font-size: 0
    +md
      text-align: center
  &__btn
    display: inline-block
    vertical-align: top
    +notlast
      margin-right: 10px
    +md
      +notlast
        margin-bottom: 10px
        margin-right: 0
    +sm
      margin-left: 5px
      margin-right: 5px
      +notlast
        margin-right: 5px

.link-arrow
  +link-arrow(var(--fz), #383838, $white)

.meta-item
  color: #adadad
  font-size: 13px
  +inline-flex(flex-start, center)
  +reg
  .icon
    fill: currentColor
    margin-right: 5px
