h1, h2, h3, h4, h5, h6
  font-weight: 400

.h1, h1

.h2, h2
  +bold
  color: $black
  line-height: 1.2
  +css-lock(24, 30, 576, 1199, font-size)

.h3, h3

.h4, h4
  color: $black
  +bold
  +tr(color .3s)
  +css-lock(18, 21, 576, 1199, font-size)
  &--white
    color: $white

.h5, h5
  font-size: var(--fz)
  color: $black
  text-transform: uppercase
  +bold
  &--accent
    color: $accent

.h6, h6

.text
  color: $c-text
  text-align: justify
  font-size: var(--fz)

  &--center
    text-align: center
  &--white
    color: $white
  &--black
    color: $black

.text-block
  --margin-bottom: 35px
  +clr
  +md
    --margin-bottom: 25px
  a:not([class*='btn'])
    color: $accent
    text-decoration: underline
  ul, ol
    margin-bottom: var(--margin-bottom)
  ul
    list-style-type: disc
    padding-left: 20px
  ol
    list-style-type: decimal
    padding-left: 20px
  p
    margin-bottom: var(--margin-bottom)
  img
    margin-bottom: 10px
    margin-top: 10px
    &.is-right
      float: right
      margin-left: 15px
      +md
        max-width: 40%
      +xs
        float: none
        width: 100%
        max-width: 100%
    &.is-left
      float: left
      margin-right: 15px
      +md
        max-width: 40%
      +xs
        float: none
        width: 100%
        max-width: 100%
