<div class="more-slider">
    <!-- begin slider -->
    <div class="slider__wrap slider--more__wrap">
      <div class="slider slider--more js-slider" data-slider="items_more">
        {% for i in range(0, 5) %}
        <!-- begin slide -->
        <div class="slide">
          <a href="#" class="item">
            <span class="item__top">BIOFERT NPK 5-10-25</span>

            <span class="item__middle js-lazy" data-background-image="img/production/bag-1.png">
              {# <img data-src="img/production/bag-1.png" alt="" class="js-lazy"> #}
            </span>

            <span class="item__bottom">Микроудобрения</span>

            <span class="item__cover">
              <span class="item__cover-in">
                <span class="item__cover-title">Описание:</span>
                <span class="item__cover-text js-truncate-text">Органические азотистые удобрения - Раствор 9 Побочные продукты животного происхождения из материала 3-ей категории животного происхождения из материала 3-ей категории</span>

                <span class="item__cover-icons">
                  <span class="production-icons production-icons--static">
                    <ul>
                      <li>{{ mixins.icon('beet') }}</li>
                      <li>{{ mixins.icon('soy') }}</li>
                      <li>{{ mixins.icon('grapes') }}</li>
                      <li>{{ mixins.icon('wheat') }}</li>
                      <li>{{ mixins.icon('sunflower') }}</li>
                      <li>{{ mixins.icon('corn') }}</li>
                      <li>{{ mixins.icon('flower') }}</li>
                      <li>{{ mixins.icon('potatoes') }}</li>
                    </ul>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>
        <!-- end slide -->
        {% endfor %}
      </div>

      <div class="slider__dots js-dots"></div>

      <button class="slider__prev js-prev"></button>
      <button class="slider__next js-next"></button>
    </div>
    <!-- end slider -->
</div>