<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__breadcrumbs">
      {{ mixins.list(
        name = 'breadcrumbs',
        modifications = { wrap: '', item: '', link: '' },
        list = [
          { link: 'Главная' },
          { item: '/' },
          { link: 'Новости' },
          { item: '/' },
          { link: 'Органический день поля', modLink: 'is-active' }
        ]
      ) }}
    </div>

    <div class="section__title">
      <h2 class="h2">Органический день поля</h2>
    </div>

    <!-- begin text-block -->
    <div class="text-block text">
      <img data-src="img/news/text-block-img.jpg" alt="" class="js-lazy is-left">
      <div class="news-item__meta news-meta">
        <div class="meta-item">
          {{ mixins.icon('view') }}
          <div class="meta-item__title">344</div>
        </div>

        <div class="meta-item">
          {{ mixins.icon('time') }}
          <div class="meta-item__title">05 Май 2016</div>
        </div>
      </div>
      <p>Компания <strong>Биоферт</strong> 20 июля 2017 приняла участие в Дне Поля на тему: «Бобовые - особенности выращивания в органическом хозяйстве» в Винницкой обл., Теплицкого р-н, пгт. Теплик. А также представило линейку жидких органических продуктов производства немецкой компании Лебосол, для внекорневой подкормки всех культур.</p>
      <p>Компания Биоферт 20 июля 2017 приняла участие в Дне Поля на тему: «Бобовые - особенности выращивания в органическом хозяйстве» в Винницкой обл., Теплицкого р-н, пгт. Теплик.</p>
      <p>А также представило линейку жидких органических продуктов производства немецкой компании Лебосол, для внекорневой подкормки всех культур.
      Компания Биоферт 20 июля 2017 приняла участие в Дне Поля на тему: «Бобовые - особенности выращивания в органическом хозяйстве» в Винницкой обл., </p>
      <p>Компания Биоферт 20 июля 2017 приняла участие в Дне Поля на тему: «Бобовые - особенности выращивания в органическом хозяйстве» в Винницкой обл., Теплицкого р-н, пгт. Теплик. А также представило линейку жидких органических продуктов производства немецкой компании Лебосол, для внекорневой подкормки всех культур.
      </p>
      <p>А также представило линейку жидких органических продуктов производства немецкой компании Лебосол, для внекорневой подкормки всех культур.</p>
      <p>Компания Биоферт 20 июля 2017 приняла участие в Дне Поля на тему: «Бобовые - особенности выращивания в органическом хозяйстве» в Винницкой обл., Теплицкого р-н, пгт. Теплик. А также представило линейку жидких органических продуктов производства немецкой компании Лебосол, для внекорневой подкормки всех культур.</p>
      <p>А также представило линейку жидких органических продуктов производства немецкой компании Лебосол, для внекорневой подкормки всех культур.
        Компания Биоферт 20 июля 2017 приняла участие в Дне Поля на тему: «Бобовые - особенности выращивания в органическом хозяйстве» в Винницкой обл., Теплицкого р-н, пгт. Теплик. А также представило линейку жидких органических продуктов производства немецкой компании Лебосол, для внекорневой подкормки всех культур.
      </p>
    </div>
    <!-- end text-block -->

    <div class="section__title is-center">
      <h2 class="h2">Рекомендуем также почитать</h2>
    </div>

    {% include "partials/_news.html" %}
  </div>
</section>
<!-- end section -->