<!-- begin section -->
<section class="section section--gray">
  <div class="container">
    <div class="text-block text">
      <img data-src="img/colin-watts-1246880-unsplash.png" alt="" class="js-lazy is-left">

      <p>ООО "Биоферт" - официальный дистрибьютор и партнер ведущих Европейских производителей минеральных удобрений. На сегодняшний день ООО «Биоферт» - современная, молодая компания, которая динамично развивается и активно завоевывает Украинский и Европейский рынки. Цель нашей компании - обеспечение аграриев качественными и эффективными элементами питания по умеренной цене. Мы используем индивидуальный поход к каждому из наших клиентов и предоставляем исчерпывающую информацию по использованию нашей продукции.</p>
      <p>ООО "Биоферт" - официальный дистрибьютор и партнер ведущих Европейских производителей минеральных удобрений. На сегодняшний день ООО «Биоферт» - современная, молодая компания, которая динамично развивается и активно завоевывает Украинский и Европейский рынки. Цель нашей компании - обеспечение аграриев качественными и эффективными элементами питания по умеренной цене. Мы используем индивидуальный поход к каждому из наших клиентов и предоставляем исчерпывающую информацию по использованию нашей продукции.</p>
    </div>
  </div>
</section>
<!-- end section -->