<!-- begin section -->
<section class="section section--img">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="section__title">
          <h2 class="h2">Питание культур с компанией «Biofert»</h2>
          <div class="text text--center">Если вы хотите повысить качество и урожайность с/х культур или просто ищете совет по питанию растений, узнайте как Biofert может вам помочь</div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

    {% include "partials/_cultures.html" %}
  </div>

  <div class="section-img section-img--right">
    <img class="js-lazy" data-src="img/cultures/buryak.png" alt="">
  </div>
</section>
<!-- end section -->