
<!-- begin section -->
<section class="section section--gray section--img">
  <div class="container">
    <div class="section__title section__title-md">
      <h2 class="h2">Компания Biofert всегда следит за последними новостями в индустрии минеральных удобрений</h2>
    </div>

    {% include "partials/_news.html" %}

  </div>

  <div class="section-img js-parallax section-img--left" data-rellax-percentage="0.5">
    <img data-src="img/cultures/wheat-lg.png" alt="" class="js-lazy">
  </div>
  
</section>
<!-- end section -->