<!-- begin types-nav -->
<div class="types-nav">
  <a href="#" class="types-nav__link js-lazy" data-background-image="img/types-nav/img-1.jpg"><span>Грунтовые</span></a>
  <a href="#" class="types-nav__link js-lazy" data-background-image="img/types-nav/img-1.jpg"><span>Внекорневые</span></a>
  <a href="#" class="types-nav__link js-lazy" data-background-image="img/types-nav/img-1.jpg"><span>Специальные</span></a>
  <a href="#" class="types-nav__link js-lazy" data-background-image="img/types-nav/img-1.jpg"><span>Органические</span></a>
</div>
<!-- end types-nav -->