.section
  padding-top: var(--section-padding)
  padding-bottom: var(--section-padding)
  position: relative
  &__title
    margin-bottom: 25px
    text-align: center
    +md
      margin-bottom: 15px
    .h2, h2
      margin-bottom: 15px
      +md
        margin-bottom: 10px
  &__title-left
    text-align: left
  &__title-md
    max-width: 800px
    margin-left: auto
    margin-right: auto
  &__btn
    text-align: center
  &__pagination
    text-align: center
  &__gray-block
    background-color: $gray
    padding-top: var(--section-padding)
    padding-bottom: var(--section-padding)
  &__block
    padding-top: var(--section-padding)
    padding-bottom: var(--section-padding)
    &:nth-child(odd)
      background-color: $gray
  &__types
    margin-bottom: 40px
    +md
      margin-bottom: 20px


  &--light
    background-color: $gray-light
  &--gray
    background-color: $gray
  &--no-pad
    padding: 0
  &--no-pad-bottom
    padding-bottom: 0
  &--img
    .container
      position: relative
      z-index: 1
  &--contacts
    padding-bottom: 12%
    background-image: radial-gradient(circle, rgba(#fafafa,1) 0%, rgba(#e4e4e4,1) 100%)
    overflow: hidden
    +r(1760)
      padding-bottom: 10%
    +r(1560)
      padding-bottom: 5%
    +lg
      padding-bottom: 0
    &__top
      background-image: radial-gradient(circle, rgba(#efefef,1) 0%, rgba(#dddddd,1) 100%)

.section-img
  position: absolute
  width: 350px
  height: 300px
  z-index: 0
  background-repeat: no-repeat
  background-size: contain

  &--right
    right: 0
    bottom: 65px
    text-align: right
    background-position: 100% 50%
  &--left
    left: 0
    bottom: 0
    +flex(flex-start, flex-end)
  &--contacts
    width: percentage(800/1920)
    height: auto
    padding-top: 40%
    background-size: contain
    top: 50px
    left: 0
    +md
      display: none
  &--right-center
    bottom: 7%
    right: 0
    z-index: 0
    background-size: contain
    background-position: 100% 50%
    height: auto
    padding-top: 30%
    width: 24%
    +r(1760)
      width: 20%
    +r(1560)
      width: 15%
    +lg
      display: none
  &--right-bottom
    bottom: calc(0px - var(--section-padding))
    right: 0
    background-position: 100% 50%
    +md
      display: none
  &--left-bottom
    left: 0
    bottom: 0
    z-index: 1
    width: 25%
    height: auto
    padding-top: 18%
    +md
      display: none
  &--left-center
    left: 0
    top: 50%
    transform: translate(0, -50%)
    +lg
      display: none
