.social
  li
    display: inline-block
  a
    +flex(center, center)
    border-radius: 50%
    height: 32px
    width: 32px
    background-color: $accent
    .icon
      fill: $white

  &--light
    a
      background-color: $accent-light